

		<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse hs-navbar">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/index.html"><img class="hs-navbar-logo" src="/assets/FLIGHTPARK-LOGO_wide.png"></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/info.html">Info</a>
      </li>
    </ul>
  </div>
</nav>


<!-- 
{% comment %}
{% include partials/navbar.html 
	class="c-nav--left" 
	content="kitchensink/navbar-example.html" 
%}
{% endcomment %} -->